@media all and (max-width: 767px) {
    .adoption-queue {
      margin-top: 10px;
      background-color: rgb(241, 241, 241);
      padding: 10px;
      border-radius: 5px;
    }
  }
  
  @media all and (min-width: 767px) {
    .adoption-queue {
      margin: 15px;
      background-color: rgb(241, 241, 241);
      padding: 20px;
      border-radius: 5px;
      text-align: center;
    }
  }